allow iorap_inode2filename adb_data_file:dir read;
allow iorap_inode2filename anr_data_file:dir read;
allow iorap_inode2filename apk_private_data_file:dir read;
allow iorap_inode2filename apk_tmp_file:dir read;
allow iorap_inode2filename asec_image_file:dir read;
allow iorap_inode2filename bluetooth_logs_data_file:dir read;
allow iorap_inode2filename cache_file:dir read;
#allow iorap_inode2filename dex2oat_exec:file getattr;
allow iorap_inode2filename drm_data_file:dir read;
#allow iorap_inode2filename font_data_file:dir read;
allow iorap_inode2filename gsi_data_file:dir read;
allow iorap_inode2filename keystore_data_file:dir read;
allow iorap_inode2filename media_data_file:dir read;
allow iorap_inode2filename media_rw_data_file:dir read;
allow iorap_inode2filename nfc_logs_data_file:dir read;
allow iorap_inode2filename ota_data_file:dir read;
allow iorap_inode2filename ota_package_file:dir read;
allow iorap_inode2filename profman_exec:file getattr;
allow iorap_inode2filename tombstone_data_file:dir read;
allow iorap_inode2filename vendor_data_file:dir read;
#allow iorap_inode2filename vendor_dpmd_data_file:dir read;
allow iorap_inode2filename adb_data_file:dir open;
allow iorap_inode2filename anr_data_file:dir open;
allow iorap_inode2filename apk_private_data_file:dir open;
allow iorap_inode2filename apk_tmp_file:dir open;
allow iorap_inode2filename asec_image_file:dir open;
#allow iorap_inode2filename atrace_exec:file getattr;
allow iorap_inode2filename cache_file:dir open;
allow iorap_inode2filename gsi_data_file:dir open;
allow iorap_inode2filename media_rw_data_file:dir open;
allow iorap_inode2filename ota_data_file:dir open;
allow iorap_inode2filename ota_package_file:dir open;
allow iorap_inode2filename vendor_data_file:dir open;
allow iorap_inode2filename apex_metadata_file:dir read;
allow iorap_inode2filename apex_permission_data_file:dir read;
allow iorap_inode2filename apex_scheduling_data_file:dir read;
allow iorap_inode2filename apex_wifi_data_file:dir read;
#allow iorap_inode2filename boringssl_self_test_exec:file getattr;
allow iorap_inode2filename cache_file:dir search;
allow iorap_inode2filename drm_data_file:dir open;
allow iorap_inode2filename dropbox_data_file:dir read;
#allow iorap_inode2filename environ_system_data_file:dir read;
#allow iorap_inode2filename font_data_file:dir read;
allow iorap_inode2filename gsi_data_file:dir search;
allow iorap_inode2filename gsi_metadata_file:dir read;
allow iorap_inode2filename install_data_file:dir read;
allow iorap_inode2filename media_data_file:dir open;
allow iorap_inode2filename media_rw_data_file:dir search;
allow iorap_inode2filename profman_dump_data_file:dir read;
allow iorap_inode2filename staged_install_file:dir read;
#allow iorap_inode2filename vendor_display_vendor_data_file:dir read;
#allow iorap_inode2filename vendor_lm_data_file:dir read;
#allow iorap_inode2filename vendor_ramdump_vendor_data_file:dir read;
#allow iorap_inode2filename vendor_tombstone_data_file:dir read;
allow iorap_inode2filename vold_metadata_file:dir read;
allow iorap_inode2filename watchdog_metadata_file:dir read;
